*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body.dark{
    background-color: #000;
    color: #fff;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-image: none;
}
body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #fff;
    color:#000;
    /* background-image: url(hero-bg-light.webp);
    background-size: cover;
    background-repeat: no-repeat; */
    background-color: #c2cfe0;
}
 /* #cad9db; */
.curd{
    width: 80%;
    margin: auto;
    /* background-image: url(hero-bg-light.webp); */
}
#deleteAll{
    margin: 20px 0;
}
.title{
    font-weight: bold;
    font-size: 35px;
    padding-top: 10px;
}
.head{
    text-align: center;
    text-transform: uppercase;
    margin: 10px 0;
}
input{
    width: 100%;
    height: 30px;
    /* outline: none;
    border: none; */
    background-color: #fff;
    margin: 5px 0;
    border-radius: 10px;
    padding: 20px;
    color: #000;
}
body.dark input{
    color: #fff;
}
.fa-moon{
    color: #37517e;
}
/* #59829c */
body.dark input{
    background-color: #222;
    outline: none;
    border: 1px solid #59829c;
    border-radius: 10px;
}
/* #1b71d4; */
input::placeholder{
    color:#000;
}
body.dark input::placeholder{
    color:#fff;
}

input:focus{
    background:#f1dee9;
    color:#000;
}
.price{
    display: flex;
    justify-content:space-between;
    gap:6px;
}
#total{
    background-color: #d31a0d;
    border-radius: 10px;
    margin-top: 15px;
    margin-bottom:10px;
    padding: 2px 5px;
    color: #fff;

}
body.dark #total{
 background-color: #cc0a0a;
    border-radius: 10px;
    margin-top: 15px;
    margin-bottom:10px;
    padding: 2px 5px;

}
.i{
    color:#59829c;
}
#total::before{
    content: 'Total:';
}
button{
    width: 100%;
    border: none;
    height: 30px;
    cursor: pointer;
    /* background-color: #1b71d4; */
    background-color: #37517e;
    color: #fff;
    border-radius: 10px;
    transition: 0.5s;
}
/* #4e8bd1; */
body.dark button{
    width: 100%;
    border: none;
    height: 30px;
    cursor: pointer;
    background-color:#37517e;
    color: #fff;
    border-radius: 10px;
    transition: 0.5s;
}
button:hover{
    letter-spacing: 1px;
    background-color:#576f9b;
    /* color: #000; */
}
.buttons{
    display: flex;
    justify-content: space-between;
    gap:50px;
    margin-top: 10px;
    margin-bottom: 10px;
}
table{
    width: 100%;
    text-align: center;
    margin: 10px 0; 
    border-spacing: 0px;
}
body.dark table{
    border-spacing: 0px;
}
body.dark tr:hover{
border-collapse:collapse;
background-color: #222;
}
body.dark tbody tr:hover{
    border-collapse:collapse;
}
body.dark th{
border-top: 1px solid #fff;
}
body.dark td{
border-top: 1px solid #fff;
}
th,td{
    padding: 5px;
    border-top: 1px solid #000;
}

tbody tr{
    transition: 0.3s ease;
}
tbody th{
    background-color: #37517e;;
    color:#fff;
}
tbody tr:hover{
    background-color:#f1dee9;
    transform: scale(1.01);
    border-collapse:collapse;
}

@media (max-width: 768px){  
    table{
        width:5%;
        font-size: 6px;
    }
    button:hover{
        letter-spacing:1px;
    }
    input{
        padding: 17px;
    }
    
    button{
    font-size: 12px;
    }
    .title{
        font-size:28px;
    }
}
